/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 
[data-theme='light']body{
  background-color: #F1F5F7;
}
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5EADF2;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5EADF2;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  
}
[data-theme='dark'] main {
background-color: #17202D;
}
@media screen and (max-width:700px) {
.container{
  padding-left: 0.5rem;
}
  
 }
 [data-theme='light'].navbar__logo>img path:nth-child(1){
  fill: #000;
}
.navbar{
  background-color: #242C34;
}
.navbar__link:hover{
  color: #5EADF2;
}
.navbar__items--right >a:nth-child(4){
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;

}
.navbar__items--right>a:nth-child(3)::before{
  content: '';
  width: 30px;
  height: 30px;
  margin-left: 0.9rem;
  display: flex;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4LjUgMS44OTU4M0MxNy44MjQ4IDIuMjIxODEgMTcuMTEwNCAyLjQzNjU4IDE2LjM3OTQgMi41MzMzM0MxNy4xNDc2IDIuMDMzNDkgMTcuNzI1NCAxLjIzOTQxIDE4LjAwNDMgMC4zMDAwMDZDMTcuMjc3OSAwLjc3MTkxOCAxNi40ODQ2IDEuMTAzMDMgMTUuNjU4MyAxLjI3OTE3QzE1LjMxMDMgMC44NzM5NzUgMTQuODkxOCAwLjU1MTYzMiAxNC40MjgyIDAuMzMxNzMzQzEzLjk2NDcgMC4xMTE4MzQgMTMuNDY1NyAtMC4wMDEwMjgwNSAxMi45NjE2IDcuMDU1OTllLTA2QzEwLjkyMDkgNy4wNTU5OWUtMDYgOS4yNjkzOCAxLjgwODMzIDkuMjY5MzggNC4wMzc0OUM5LjI2NzkzIDQuMzQ3NTYgOS4yOTk5MSA0LjY1NjcxIDkuMzY0NjIgNC45NTgzMkM3LjkwMTI2IDQuODgyMSA2LjQ2ODMyIDQuNDY3MzIgNS4xNTc0OSAzLjc0MDUyQzMuODQ2NjYgMy4wMTM3MiAyLjY4NjgxIDEuOTkwOSAxLjc1MjEzIDAuNzM3NTA1QzEuNDI0MjIgMS4zNTE3MiAxLjI1MDggMi4wNTI1MiAxLjI1IDIuNzY2NjZDMS4yNSA0LjE2NjY2IDEuOTA3MzggNS40MDQxNiAyLjkgNi4xMjkxNUMyLjMxMTkgNi4xMTM2NSAxLjczNTg1IDUuOTQwNyAxLjIyMDc1IDUuNjI0OTlWNS42NzQ5OUMxLjIyMDc1IDcuNjMzMzIgMi40OTU3NSA5LjI2MjQ4IDQuMTgzMjUgOS42MzMzMUMzLjg2NTkyIDkuNzI3MyAzLjUzODkxIDkuNzc0OTMgMy4yMTA1IDkuNzc0OThDMi45Nzc0NyA5Ljc3NTQzIDIuNzQ0OTYgOS43NTAzMSAyLjUxNjM4IDkuNjk5OThDMi45ODU1IDExLjMwNDEgNC4zNTA4OCAxMi40NzA4IDUuOTY4MjUgMTIuNTA0MUM0LjY1NDAyIDEzLjYyOTUgMy4wNDA0OCAxNC4yMzc4IDEuMzgxMjUgMTQuMjMzM0MxLjA4NjczIDE0LjIzMjggMC43OTI0ODcgMTQuMjEzMyAwLjUgMTQuMTc1QzIuMTg3OTQgMTUuMzcyNiA0LjE1MDA0IDE2LjAwNiA2LjE1Mjc1IDE2QzEyLjk1MzggMTYgMTYuNjY5MyA5Ljg0NTgxIDE2LjY2OTMgNC41MDgzM0MxNi42NjkzIDQuMzMzMzMgMTYuNjY1MSA0LjE1ODMzIDE2LjY1NzYgMy45ODc0OUMxNy4zNzg4IDMuNDE3NTIgMTguMDAyNyAyLjcwOTIxIDE4LjUgMS44OTU4M1oiIGZpbGw9IiM5MkEwQjMiLz4KPC9zdmc+")
    no-repeat;
    margin-top: 15px;
    filter:brightness(2)
}
.navbar__link:hover {
  opacity: 0.6;
}
.navbar__link--active, .breadcrumbs__item--active .breadcrumbs__link{
  color: #5EADF2;

}
.navbar__brand{
  margin-right: 0px;
}
.navbar__logo{
  margin-right: 2rem;
}

.navbar__brand::after{
  content: '';
  width: 25px;
  height: 25px;
  background:url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciICB2aWV3Qm94PSIwIDAgNTAgNTAiIHdpZHRoPSIyNXB4IiBoZWlnaHQ9IjI1cHgiPjxwYXRoIGQ9Ik0gMjQuOTYyODkxIDEuMDU0Njg3NSBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMjQuMzg0NzY2IDEuMjYzNjcxOSBMIDEuMzg0NzY1NiAxOS4yMTA5MzggQSAxLjAwMDU2NTkgMS4wMDA1NjU5IDAgMCAwIDIuNjE1MjM0NCAyMC43ODkwNjIgTCA0IDE5LjcwODk4NCBMIDQgNDYgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDUgNDcgTCAxOC44MzIwMzEgNDcgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDE5LjE1ODIwMyA0NyBMIDMwLjgzMjAzMSA0NyBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMzEuMTU4MjAzIDQ3IEwgNDUgNDcgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDQ2IDQ2IEwgNDYgMTkuNzA4OTg0IEwgNDcuMzg0NzY2IDIwLjc4OTA2MiBBIDEuMDAwNTY1NyAxLjAwMDU2NTcgMCAxIDAgNDguNjE1MjM0IDE5LjIxMDkzOCBMIDQxIDEzLjI2OTUzMSBMIDQxIDYgTCAzNSA2IEwgMzUgOC41ODU5Mzc1IEwgMjUuNjE1MjM0IDEuMjYzNjcxOSBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMjQuOTYyODkxIDEuMDU0Njg3NSB6IE0gMjUgMy4zMjIyNjU2IEwgNDQgMTguMTQ4NDM4IEwgNDQgNDUgTCAzMiA0NSBMIDMyIDI2IEwgMTggMjYgTCAxOCA0NSBMIDYgNDUgTCA2IDE4LjE0ODQzOCBMIDI1IDMuMzIyMjY1NiB6IE0gMzcgOCBMIDM5IDggTCAzOSAxMS43MDg5ODQgTCAzNyAxMC4xNDY0ODQgTCAzNyA4IHogTSAyMCAyOCBMIDMwIDI4IEwgMzAgNDUgTCAyMCA0NSBMIDIwIDI4IHoiLz48L3N2Zz4=")
    no-repeat;
    filter:brightness(2)
}
.nav__active::after{
  content: '';
  width: 25px;
  height: 25px;
background:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjVweCIgaGVpZ2h0PSIyNXB4IiB2aWV3Qm94PSIwIDAgMjUgMjUiIHZlcnNpb249IjEuMSI+CjxnIGlkPSJzdXJmYWNlMSI+CjxwYXRoIHN0eWxlPSIgc3Ryb2tlOm5vbmU7ZmlsbC1ydWxlOm5vbnplcm87ZmlsbDpyZ2IoMTcuNjQ3MDU5JSw0Mi4zNTI5NDElLDg3LjQ1MDk4JSk7ZmlsbC1vcGFjaXR5OjE7IiBkPSJNIDEyLjQ4MDQ2OSAwLjUyNzM0NCBDIDEyLjM3NSAwLjUzMTI1IDEyLjI3MzQzOCAwLjU2NjQwNiAxMi4xOTE0MDYgMC42MzI4MTIgTCAwLjY5MTQwNiA5LjYwNTQ2OSBDIDAuNDcyNjU2IDkuNzczNDM4IDAuNDM3NSAxMC4wODk4NDQgMC42MDU0NjkgMTAuMzA4NTk0IEMgMC43NzM0MzggMTAuNTI3MzQ0IDEuMDg5ODQ0IDEwLjU2MjUgMS4zMDg1OTQgMTAuMzk0NTMxIEwgMiA5Ljg1NTQ2OSBMIDIgMjMgQyAyIDIzLjI3NzM0NCAyLjIyMjY1NiAyMy41IDIuNSAyMy41IEwgOS40MTQwNjIgMjMuNSBDIDkuNDY4NzUgMjMuNTA3ODEyIDkuNTIzNDM4IDIzLjUwNzgxMiA5LjU3ODEyNSAyMy41IEwgMTUuNDE0MDYyIDIzLjUgQyAxNS40Njg3NSAyMy41MDc4MTIgMTUuNTIzNDM4IDIzLjUwNzgxMiAxNS41NzgxMjUgMjMuNSBMIDIyLjUgMjMuNSBDIDIyLjc3NzM0NCAyMy41IDIzIDIzLjI3NzM0NCAyMyAyMyBMIDIzIDkuODU1NDY5IEwgMjMuNjkxNDA2IDEwLjM5NDUzMSBDIDIzLjkxMDE1NiAxMC41NjI1IDI0LjIyNjU2MiAxMC41MjczNDQgMjQuMzk0NTMxIDEwLjMwODU5NCBDIDI0LjU2NjQwNiAxMC4wODk4NDQgMjQuNTI3MzQ0IDkuNzczNDM4IDI0LjMwODU5NCA5LjYwNTQ2OSBMIDIwLjUgNi42MzI4MTIgTCAyMC41IDMgTCAxNy41IDMgTCAxNy41IDQuMjkyOTY5IEwgMTIuODA4NTk0IDAuNjMyODEyIEMgMTIuNzE0ODQ0IDAuNTU4NTk0IDEyLjU5NzY1NiAwLjUyMzQzOCAxMi40ODA0NjkgMC41MjczNDQgWiBNIDEyLjUgMS42NjAxNTYgTCAyMiA5LjA3NDIxOSBMIDIyIDIyLjUgTCAxNiAyMi41IEwgMTYgMTMgTCA5IDEzIEwgOSAyMi41IEwgMyAyMi41IEwgMyA5LjA3NDIxOSBaIE0gMTguNSA0IEwgMTkuNSA0IEwgMTkuNSA1Ljg1NTQ2OSBMIDE4LjUgNS4wNzQyMTkgWiBNIDEwIDE0IEwgMTUgMTQgTCAxNSAyMi41IEwgMTAgMjIuNSBaIE0gMTAgMTQgIi8+CjwvZz4KPC9zdmc+Cg==")
no-repeat;
filter:brightness(2)

}
@media screen and (max-width:900px) {
  .nav__active::after, .navbar__brand::after{
  content: '';
  background: none;
  }
}
.menu__list-item-collapsible>a{
  color: #141414;
font-size: .938rem;
font-weight: 600;
line-height: 100%;
}
[data-theme='dark']   .menu__list-item-collapsible >a{
  color: #fff;
}
.menu__list-item >.menu__link--active::before{
  content:"\2022";
  color: inherit;
  padding-right: 4px;
  position: relative;
  top: 1px;
}
.menu__link:hover{
  color: #5EADF2;
}
.btn_reaction{
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: inherit;
  border: none;
  outline: none;
}
.btn_reaction:hover{
  background-color: rgb(39, 189, 39);
}
.reaction_n:hover{
  background-color: rgb(235, 61, 61);
}
.reaction_n{
  margin-left: 0.8rem;
  padding-bottom: 0;


}
.reaction_n>svg{
  transform: rotate(180deg);
}
[data-theme='dark'] .btn_reaction >svg{
  fill: white;
}
[data-theme='light'] .btn_reaction:hover >svg{
  fill: white;
}
.toc_header_sep{
  text-transform: uppercase;
  padding-left: 0rem;
  font-weight: bold;
}
.toc_seprator{
  border-bottom: 1px solid var(--ifm-toc-border-color);
    padding-left: 0.5rem ;
    width: 88%;
    margin: auto;
}
.table-of-contents__left-border{
  border: none;
}

.toc-wrapper{
  background-color: #323C47;
  padding: 1rem;
  border-radius: 13px;
  margin-top: 3.1rem;
}
.share_button{
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: #5EADF2;
}
[data-theme='light'] .toc-wrapper{
  background-color: #F1F5F7;
}
.flex{
  display: flex;
}
.flex_col{
  flex-direction: column;
}
.toc_header{
  justify-content: space-between;
  padding-left: 0.5rem ;
  margin: 0 var(--ifm-toc-padding-horizontal);
}

.toc_us{
  padding-left: 0.5rem ;
  margin:  1rem  var(--ifm-toc-padding-horizontal) 0rem;
}
.users_perc{
  font-size: 0.8;
  font-weight: 300;
  max-width: 80%;

}
.tableOfContents_node_modules-\@docusaurus-theme-classic-lib-theme-TOC-styles-module{
  position: inherit !important;
}
.tableOfContents_bqdL{
  position: inherit;
}
.toc-wrapper div{
  position: inherit;
}

/*styling color mode toggle*/
.clean-btn{
  border-radius: 10px !important;
  background-color: #323C47;
  margin-left:0.5rem;
  margin-right: 0.8rem;
}
.clean-btn:hover{
  background-color: #323C47 !important;
}

[data-theme='light'] .DocSearch {
  --docsearch-text-color: #f5f6f7;
  --docsearch-container-background: rgba(9,10,17,0.8);
  --docsearch-modal-background: #1b1b1d;
  --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40,0 3px 8px 0 #000309;
  --docsearch-searchbox-background: #090a11;
  --docsearch-searchbox-focus-background: #000;
  --docsearch-hit-color: #bec3c9;
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: #1c1e21;
  --docsearch-key-gradient: linear-gradient(-26.5deg,#565872,#31355b);
  --docsearch-key-shadow: inset 0 -2px 0 0 #282d55,inset 0 0 1px 1px #51577d,0 2px 2px 0 rgba(3,4,9,0.3);
  --docsearch-footer-background: #242526;
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73,76,106,0.5),0 -4px 8px 0 rgba(0,0,0,0.2);
  --docsearch-logo-color: #fff;
  --docsearch-muted-color: rgb(164, 166, 168);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}
.DocSearch-Button-Keys{
  display: none !important;
}
.signin{
  margin-left: 1rem;
  display: flex;
  padding-right: 0.8rem !important;
  background-color: rgb(255, 42, 37);
  text-decoration: none !important;
  border: none;
  color: white !important;
}
.signin:hover{
  background-color: rgb(255, 42, 37) !important;
}

.signin>svg{
  display: none;
}